body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    position: relative;
}

html {
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("my-app/public/stockholm-400998_1280.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

  .content {
    position: relative;
    z-index: 1;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
p {
    color:rgba(37, 37, 37, 0.648);
    font-weight: bold;
    font-size: 125%;
    
}


h1, h2, h3, h4, h5 {
    font-weight: bold;

}
.carousel-inner img {
    max-height: 500px;
    width: auto;
    object-fit: cover;
}

.carousel-caption {
    font-weight: bold;

}

#myCarousel {
    border-radius: 10px;
    overflow: hidden;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.navbar {
    width: auto;
    display: table;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
}

#map { height: 180px; }

.panel-default {
    border-radius: 10px;

}
.header {
    height: 150px;
  }

.header-container {
        border: 10px solid #ffffff;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #d2bf6e;
        box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.2);
    }
    

  .header-image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .header-image img {
    max-height: 80%;
    max-width: 80%;
    object-fit: contain;
  }

  .text-center {
    color:rgba(255, 255, 255, 0.8);
    font-weight: bold;
  }

#large-image {
    width: 100%;
    height: auto;
}

  




